@import "./vars.css";
@import "./theme.css";
@import "./utility.css";

@import "tailwindcss";
@import "tw-animate-css";

/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

@layer base {
  * {
    outline-color: var(--color-ring);
    border-color: var(--color-border);
  }
  body {
    font-size: small;
    color: var(--color-foreground);
    background-color: var(--color-background);
  }
}
