@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility one-line {
  overflow: hidden;
  display: -webkit-box;

  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@utility sentence {
  display: inline-block;

  &::first-letter {
    text-transform: uppercase;
  }
}

@utility badge-red {
  color: #c2410c !important;
  background: #ffedd5;
}

@utility badge-green {
  color: #15803d !important;
  background: #dcfce7;
}

@utility badge-blue {
  color: #1d4ed8 !important;
  background: #dbeafe;
}

@utility badge-yellow {
  color: #a16207 !important;
  background: #fef9c3;
}
